/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Noto Sans TC;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


.container{
    max-width: 1220px;
    padding: 0 139px;
    text-align: center ;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}


h1{
    font-size: 48px;
    font-weight: bold;
}
h2{
    font-size: 32px;
    font-weight: bold;
}
h3{
    font-size: 24px;
    font-weight: regular;
}

h4{
    font-size: 20px;
    font-weight: regular;
}

.header{
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/JoyingCJY/homework2/main/images/home.svg"),url("https://raw.githubusercontent.com/JoyingCJY/homework2/main/images/bg_home.svg");
    background-repeat: no-repeat, no-repeat;
    height: 768px;
    background-position: right bottom,right bottom;
    background-size: 532px 534px, 850px 768px;
}


.header-logo{
    display: flex;
    justify-content: space-between;

}

.header-logo img{
    height: 23px;
    margin-top: 30px;
}

.header-logo a{
    margin-top: 24px;
}

.price-button-red{
    background-color: #FF5D50;
    border-radius: 22px;
    padding: 12px 32px;
    color: white;  
    text-decoration: none;
    margin-top: 24px;
}

.price-button-red:hover{
    background-color:  white;
    border: 1px solid #FF5D50;
    border-radius: 22px;
    padding: 11px 31px;
    color: #FF5D50;  

}

.header-info{
    text-align: left;
    margin-bottom: 20px;
}

.header-info h1{
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 1.5;
}

.header-info-smtitle{
    font-size: 18px;
    color:#56C4C5;
    font-weight: bold;
    padding-top: 140px;

}

.header-info h4{
    padding-bottom: 200px;
}

@media (max-width:768px){
    .container{
        padding: 0 20px;
    }

    .header {
        height: 80vh;
        background-image: url("https://raw.githubusercontent.com/JoyingCJY/homework2/main/images/home.svg"),url("https://raw.githubusercontent.com/JoyingCJY/homework2/main/images/bg_home_sm.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: center bottom,center bottom;
        background-size: 70%,90%;
    }
    
    .header .container{
        display: flex;
        flex-direction: column;
    }

    .header-logo{
        padding-bottom: 16px;
        border-bottom: 2px solid #FFD153;
        background-color: #ffffff;
    }


    .header-info-smtitle{
        padding-top: 32px;
    }

    .header-info h4{
        padding-bottom: 32px;
    }

}

@media (max-width:375px){
    .header{
        background-position: center bottom,center bottom;
        height: 100vh;
    }

}

.platform{
    padding-top: 101px;
    padding-bottom: 100px;
}
.platform ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.platform ul li{
    width: 30%;
}

.platform h2{
    margin-bottom: 48px;
}

.platform img{
    height: 90px;
    width: 90px;
}

.platform-title{
    margin: 24px 0;
    line-height: 1.5;
}

.platform-text{
    line-height: 1.5;
    font-size: 16px;
    padding: 0 5px;
}


@media (max-width:375px){
    .platform{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .platform ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .platform ul li{
        width: 100%;
        padding-bottom: 30px;
    }



}

.character ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    padding-bottom: 100px;
}

.character  h2{
    margin-bottom: 16px;
}

.character p{
    line-height: 1.5;
}

.character ul li{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    width: 23%;
}

.character-card li .character-title{    
    color:#56C4C5;
    margin: 16px 0;
    font-weight: bold;
}

.character-card li .character-text{    
    padding:0px 16px 16px 16px;
    line-height: 1.5;
    text-align: center;
}

@media (max-width:768px) {
    .character ul li{
        width: 48%;
        margin-bottom: 36px;
    }
    
}

@media (max-width:375px){
    .character ul li{
        width: 100%;
    }
   
}


.function .container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 100px;
}


.function-functions ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 137px;
    width: 90%;
}


.function-functions li{
    padding: 32px 32px 48px 32px;
    width: 45%;
    margin-right: 5%;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    text-align: left;
    margin-bottom: 28px;
}

.function-functions img{
    height: 86px;
    width: 86px;
    size: auto;
    padding: 22px 20px 22px 20px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
}

.function-title{
    font-weight: bold;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.funtion-text{
    font-weight: regular;
    line-height: 1.5;
    font-size: 16px;
}

.function .function-info{
    padding-top: 165px;
    padding-bottom: 164px;
    line-height: 1.5;
}

.function-info p{
    margin-top: 16px;
    margin-bottom: 24px;
}

.price-button{
    background-color: #56C4C5;
    border-radius: 22px;
    padding: 12px 32px;
    color: white;  
    text-decoration: none;
}

.price-button :hover{
    background-color:  white;
    border: 1px solid #56C4C5;
    border-radius: 22px;
    padding: 11px 31px;
    color: #56C4C5;  
}


@media(max-width:768px){
    .function .container{
        display: flex;
        flex-direction: column-reverse;
    }

    .function-functions ul{
        margin: 0 auto;
        width: 90%;
    }

    .function-functions li{
        width: 46%;
        margin-bottom: 36px;
        margin-right: 4%;
    }

    .function .function-info{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media(max-width:375px){
    .function .container{
        display: flex;
        flex-direction: column-reverse;
    }

    .function-functions ul{
        margin: 0 auto;
        width: 100%;
    }

    .function-functions li{
        width: 100%;
        margin-bottom: 36px;
    }

    .function .function-info{
        padding-top: 20px;
        padding-bottom: 60px;
    }
}

.reviews h2{
    margin-bottom: 104px;

}

.reviews-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 24px;
}

.reviews .user{
    width: 32%;
    padding: 48px 32px;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    box-shadow: 0px 2px 10px #00000014;
    position: relative;
    border-radius: 12px;
}

.card-text{
    padding-bottom: 24px;
    font-weight: regular;
    border-bottom: 1px solid #f5f5f5;
}

.card-title{
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

.card-name{
    margin-bottom: 24px;

}

.star{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 121.02px;
}

.star-items{
    display: block;
    width: 16.78px;
    height: 16px;
    max-width: auto;

}

.user-pic{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -50px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
}

.more ul{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}


.more ul li{
    width: 10px;
    height: 10px;
    background-color: #DDDDDD;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.more ul li:last-of-type {
    width: 16px;
    background-color: #FFD153;
}

@media(max-width:768px){
    .reviews .user{
        width: 90%;
        margin-bottom: 72px;
    }

    

}

.footer-info{
    background-image: url("https://raw.githubusercontent.com/JoyingCJY/homework2/dffc971de2184ce6ec45990df57c367e8a650d1d/images/home_footer.svg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 503px;
    display: flex;
    flex-direction: column;
}

.footer-info h2{
    padding-top: 320px;
    margin-bottom: 48px;
}

@media(max-width:768px){
    .footer-info{
    background-image: url("https://raw.githubusercontent.com/JoyingCJY/homework2/dffc971de2184ce6ec45990df57c367e8a650d1d/images/footer_sm.svg");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    }

    .footer-info h2{
        padding-top: 200px;

    }
}


@media(max-width:375px){
    .footer-info h2{
        padding-top: 300px;
    }
    
}


.footer{
    background: #F5F5F5 ;
    padding-top: 16px;
    padding-bottom: 16px;
}

.price_container{
    max-width: 1220px;
    padding: 0 140px;
    text-align: center ;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}

.price_header{
    background-image: url("https://raw.githubusercontent.com/JoyingCJY/homework2/main/images/banner.svg"), url("");
    background-repeat: no-repeat;
    background-size: 885px 559px;
    background-position: right top;
    height: 559px;

}

.price_header-info{
    text-align: left;
    padding-top: 180px;
    padding-bottom: 220px;
}

.price_header-info h1{
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 1.5;
}

.price_header-info h4{
    padding-bottom: 200px;
}

.plan-card{
    margin-right: 20px;
    padding: 0 29px 32px 29px;
}

.plan-title h3{
    padding: 10px 19px 16px 19px;
    border-bottom: 1px solid #DDDDDD;
}

.plan-title p{
    padding: 32px 19px 32px 29px;
    line-height: 1.5;
    font-size: 16px;
}

.plan h2{
    padding-bottom: 48px;
}

.plan-button{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-right: 0 auto;
    padding: 0 10px;
    font-size: 16px;
    padding-bottom: 48px;
}

.population-button{
    background-color:  white;
    border: 1px solid #56C4C5;
    border-radius: 22px;
    padding: 11px 31px;
    color: #56C4C5;  
    margin-top: 24px;
    text-decoration: none;
    margin: 8px;
}


.population-button:hover{
    background-color: #56C4C5;
    border-radius: 22px;
    padding: 12px 32px;
    color: white;  
    text-decoration: none;
  
}

.plans{
    display: flex;
}

.plan-card{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    width: 50%;
}
.plan-title h3{
    margin-top: 10px;
}

.plan-price{
    display: flex;
    justify-content: space-between;

}

.user-amount{
    background-color: #F5F5F5;
    padding: 50px 24px;
    border-radius: 12px;
}

.plan-price span{
    font-size: 12px;
}



.month-fee{
    background-color: #F5F5F5;
    padding: 50px 24px;
    border-radius: 12px;
}

.equal{
    padding: 50px 10px;
}

.subscribe-amount, .fee{
    font-size: 12px;
    margin-bottom: 8px;
} 

.subscribe-variable{
    color:#56C4C5;
    font-size: 32px;
}

.fee-variable{
    font-size: 32px;
}

.plan-card ul li p{
    text-align: left;
}

.feature{
    position: relative;
}

.feature img{
    position: absolute;
    left:0;
    top: 20px
}
.qa{
    padding-top: 100px;
    padding-bottom: 100px;;
}

.qa-all{
    padding-top: 48px;
    padding-bottom: 100px;
}

.qa h2{
    padding-bottom: 48px;
}

.qa-all{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.qa-box {
    border-radius: 12px;
    border: 2px solid #00000014;
    width: 100%;
    border-style: none;
}

.qa-text {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 16px;
    font-family: "Noto Sans TC", sans-serif;
}